<% content_for(:title, t('.title')) %>
<div class="w-full mx-auto m-10 md:w-2/3" style="background: #ffe6e8; padding: 20px; border: 2px dashed #ffb6c1; box-shadow: 0 0 0 5px #ffe6e8; -moz-box-shadow: 0 0 0 5px #ffe6e8; -webkit-box-shadow: 0 0 0 5px #ffe6e8; font-size: 100%;">
  <div class="container mx-auto pt-12 px-4 sm:px-6 lg:px-8">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full lg:w-1/2 lg:mx-auto">
        <h1 class="text-2xl font-semibold mb-6 flex justify-center">ユーザー情報</h1>
        <%= link_to link_to raw('<i class="fa-solid fa-pencil"></i> 編集'), edit_users_path, class: 'btn btn-accent float-right my-8' %>
        <table class="w-full text-lg">
          <tr>
            <th class="px-4 py-2"><%= t(User.human_attribute_name(:name)) %></th>
            <td class="border-b-2 border-b-red-300 px-4 py-2"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="px-4 py-2 pt-16"><%= t(User.human_attribute_name(:email)) %></th>
            <td class="border-b-2 border-b-red-300 px-4 py-2 pt-16"><%= @user.email %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="w-full mx-auto m-10 md:w-2/3" style="background: #ffe6e8; padding: 20px; border: 2px dashed #ffb6c1; box-shadow: 0 0 0 5px #ffe6e8; -moz-box-shadow: 0 0 0 5px #ffe6e8; -webkit-box-shadow: 0 0 0 5px #ffe6e8; font-size: 100%;">
  <div class="container mx-auto pt-12 px-4 sm:px-6 lg:px-8">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full lg:w-1/2 lg:mx-auto">
        <h1 class="text-2xl font-semibold mb-6 flex justify-center">AIキャラクター設定</h1>
        <%= link_to link_to raw('<i class="fa-solid fa-pencil"></i> 編集'), edit_characters_path, class: 'btn btn-accent float-right my-8' %>
        <table class="w-full text-lg">
          <tr>
            <th class="px-4 py-2">おなまえ</th>
            <td class="border-b-2 border-b-red-300 px-4 py-2"><%= @character.name %></td>
          </tr>
          <tr>
            <th class="px-4 py-2 pt-16">性格</th>
            <td class="border-b-2 border-b-red-300 px-4 py-2 pt-16"><%= display_personality(@character.personality) %></td>
          </tr>
          <tr>
            <th class="px-4 py-2 pt-16">話し方のスタイル</th>
            <td class="border-b-2 border-b-red-300 px-4 py-2 pt-16"><%= display_communication_style(@character.communication_style) %></td>
          </tr>
          <tr>
            <th class="px-4 py-2 pt-16">あなたとの関係性</th>
            <td class="border-b-2 border-b-red-300 px-4 py-2 pt-16"><%= display_relationship(@character.relationship) %></td>
          </tr>
          <tr>
            <th class="px-4 py-2 pt-16">追加の設定</th>
            <td class="border-b-2 border-b-red-300 px-4 py-2 pt-16"><%= @character.additional %></td>
          </tr>
          <tr>
            <th class="px-4 py-2 pt-16">キャラクターの画像</th>
            <td class="border-b-2 border-b-red-300 px-4 py-2 pt-16"><%= image_tag @character.image, alt: '通知用の猫の画像', size: '150x150' %>
</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

