<% content_for(:title, t('.title')) %>
<div class="w-full mx-auto m-10 md:w-2/3" style="background: #ffe6e8; padding: 20px; border: 2px dashed #ffb6c1; box-shadow: 0 0 0 5px #ffe6e8; -moz-box-shadow: 0 0 0 5px #ffe6e8; -webkit-box-shadow: 0 0 0 5px #ffe6e8; font-size: 100%;">
  <div class="container mx-auto pt-12 px-4 sm:px-6 lg:px-8">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full lg:w-1/2 lg:mx-auto">
        <h1 class="text-2xl font-semibold mb-6 flex justify-center">マイページ</h1>
        <%= link_to link_to raw('<i class="fa-solid fa-pencil"></i> 編集'), edit_profiles_path, class: 'bg-yellow-200 py-2 px-3 rounded-lg whitespace-nowrap float-right my-8' %>
        <table class="w-full text-lg">
          <tr>
            <th class="px-4 py-2"><%= t(User.human_attribute_name(:email)) %></th>
            <td class="border-b-2 border-b-red-300 px-4 py-2"><%= current_user.email %></td>
          </tr>
          <tr>
            <th class="px-4 py-2 pt-16"><%= t(User.human_attribute_name(:name)) %></th>
            <td class="border-b-2 border-b-red-300 px-4 py-2 pt-16"><%= current_user.name %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

