<main class="container mx-auto flex justify-center">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl font-sans leading-9 tracking-tight text-gray-900">ユーザー情報変更</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <%= form_with model: @user, url: users_path, local: true, class: "space-y-6" do |f| %>
        <%= render 'shared/error_messages', object: @user %>
        <div>
          <%= f.label :name, t('activerecord.attributes.user.name'), class: "leading-7 text-sm text-gray-600" %>
          <%= f.text_field :name, required: true, class: "input input-bordered input-accent w-full max-w-xs" %>
        </div>

        <div>
          <%= f.label :email, t('activerecord.attributes.user.email'), class: "leading-7 text-sm text-gray-600" %>
          <%= f.email_field :email, required: true, class: "input input-bordered input-accent w-full max-w-xs" %>
        </div>

        <div class="flex justify-center p-7">
          <%= f.submit "更新する", class: "btn btn-accent w-full" %>
        </div>

        <div class="flex justify-center link link-warning">
          <%= link_to "ホームに戻る", home_index_path %>
        </div>
      <% end %>
    </div>
  </div>
</main>
