<main class="box51 m-0 sm:m-10" >
  <%= form_with(model: schedule, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class=" mx-auto">
      <div class="flex justify-center m-10">
        <%= f.text_field :name, placeholder: "スケジュール名", class:'input input-bordered input-primary w-3/4 lg:w-1/2 text-center' %>
      </div>
      <div class="flex flex-col lg:flex-row lg:justify-center">
        <div class="flex justify-center items-center whitespace-nowrap mb-5 lg:mt-0 lg:ml-8">
          <%= button_tag '▼ 全選択', type: 'button', id: 'select-all', class: 'btn btn-accent mr-2' %>
          <%= button_tag '▽ 全解除', type: 'button', id: 'deselect-all', class: 'btn btn-secondary' %>
        </div>
        <div class="flex justify-center flex-wrap">
          <% ['日', '月', '火', '水', '木', '金', '土'].each_with_index do |day, index| %>
            <div class=" px-2 flex items-center justify-start overflow-auto">
              <%= check_box_tag 'schedule[day_of_week][]', index, schedule.day_of_week.include?(index), class: 'checkbox checkbox-primary m-2' %>
              <%= day %>
            </div>
          <% end %>
        </div>

      </div>
    </div>
    <div class="form-group justify-center mt-5" id="tasks-container">
      <%= f.fields_for :tasks, @tasks do |task| %>
        <%= render 'task_fields', f: task %>
      <% end %>
    </div>
    <div class="flex justify-center p-8">
      <%= link_to_add_association raw('<i class="fa-solid fa-circle-plus"></i> 追加'), f, :tasks, class:"btn btn-accent" %>
    </div>

    <div class="flex flex-col sm:flex-row justify-center">
      <button class="btn btn-primary mb-2 sm:mb-0 sm:mr-2" type="button" id="sort-tasks-button"><i class="fa-solid fa-arrow-right-arrow-left fa-rotate-90"></i> 時間順に並び替える</button>
      <button class="btn btn-active btn-accent sm:mt-0" type="submit"><i class="fa-solid fa-check"></i> スケジュールを保存する</button>
    </div>
  <% end %>
</main>
