<main class="w-full flex justify-center">

  <%= form_with model: @category, url: schedules_path do |form| %>
    <div class="form-container rounded">
      <div class="form-group mt-8">
        <div class="mr-5">
        <%= form.fields_for :schedules do |task_form| %>
          <%= task_form.check_box :goal_select, class: 'rounded mr-10 p-6' %>
          <%= task_form.time_select :schedule_time, { minute_step: 15, prompt: '--' }, class:'rounded' %>
          <%= task_form.text_field :task, placeholder: "タスク", class: 'rounded' %>
          <%= task_form.text_field :memo, placeholder: "メモ", class: 'rounded' %>
        <% end %>
          <button class="add-btn rounded ml-10 font-bold" type="button">+</button>
          <button class="remove-btn rounded font-bold" type="button" style="display: none;">-</button>
        </div>
      </div>
    </div>
    <div class="flex justify-center p-8">
      <button class="btn btn-accent" type="submit">スケジュールを保存する</button>
    </div>
  <% end %>
</main>


<script>
  $(document).ready(function() {
    // +ボタンをクリックした時の処理
    $('.add-btn').click(function() {
      var $clone = $(this).closest('.form-group').clone(true);
      $clone.find('input').val(''); // 入力値をクリア
      $clone.find('.add-btn').removeClass('fa-plus').addClass('fa-minus'); // +ボタンを-ボタンに変更
      $clone.find('.remove-btn').show(); // 新しい行の-ボタンを表示
      $('.form-container').append($clone);
    });

    // -ボタンをクリックした時の処理
    $(document).on('click', '.remove-btn', function() {
      $(this).closest('.form-group').remove();
    });
  });
</script>










<main class="w-full flex justify-center">
  <%= form_for @category do |f| %>
    <div class="form-container rounded">
      <div class="form-group mt-8">
        <div id="schedules" class="mr-5">
          <%= f.fields_for :schedules do |schedule| %>
            <%= render 'schedule_fields', f: schedule %>
          <% end %>
          <div class='links'>
            <%= link_to_add_association 'フォームを追加', f, :schedule %>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center p-8">
      <button class="btn btn-accent" type="submit">スケジュールを保存する</button>
    </div>
  <% end %>
</main>






        <div class='nested-fields'>
          <%= f.check_box :goal_select, class: 'rounded mr-10 p-6' %>
          <%= f.time_select :schedule_time, { minute_step: 15, prompt: '--' }, class:'rounded' %>
          <%= f.text_field :task, placeholder: "タスク", class: 'rounded' %>
          <%= f.text_field :memo, placeholder: "メモ", class: 'rounded' %>

        </div>