<main class="m-0 sm:m-10" style="background: #ffe6e8; padding: 20px; border: 2px dashed #ffb6c1; box-shadow: 0 0 0 5px #ffe6e8; -moz-box-shadow: 0 0 0 5px #ffe6e8; -webkit-box-shadow: 0 0 0 5px #ffe6e8; font-size: 100%;">
  <%= form_with(model: schedule, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class=" mx-auto">
      <div class="flex justify-center m-10">
        <%= f.text_field :name, placeholder: "スケジュール名", class:'input input-bordered input-primary w-3/4 lg:w-1/2' %>
      </div>
      <div class="flex flex-col-reverse lg:flex-row lg:justify-center">
        <div class="flex justify-center">
          <% ['日', '月', '火', '水', '木', '金', '土'].each_with_index do |day, index| %>
            <div class="my-4 px-2 flex items-center lg:justify-start overflow-auto">
              <%= check_box_tag 'schedule[day_of_week][]', index, schedule.day_of_week.include?(index), class: 'checkbox checkbox-primary m-2' %>
              <%= day %>
            </div>
          <% end %>
        </div>
        <div class="flex justify-center items-center whitespace-nowrap mt-10 lg:mt-0 lg:ml-8">
          <%= button_tag '▼ 全選択', type: 'button', id: 'select-all', class: 'btn btn-accent mr-2' %>
          <%= button_tag '▽ 全解除', type: 'button', id: 'deselect-all', class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
    <div class="form-group justify-center" id="tasks-container">
      <%= f.fields_for :tasks, @tasks do |task| %>
        <%= render 'task_fields', f: task %>
      <% end %>
    </div>
    <div class="flex justify-center p-8">
      <%= link_to_add_association raw('<i class="fa-solid fa-circle-plus"></i> 追加'), f, :tasks, class:"btn btn-accent" %>
    </div>

    <div class="flex justify-center">
      <button class="btn btn-primary mr-2" type="button" id="sort-tasks-button"><i class="fa-solid fa-arrow-right-arrow-left fa-rotate-90"></i> 時間順に並び替える</button>
      <button class="btn btn-active btn-accent" type="submit"><i class="fa-solid fa-check"></i> スケジュールを保存する</button>
    </div>
  <% end %>
</main>


<script>
// $(document).ready(function() {
//   $(document).on('cocoon:after-insert', function(e, insertedItem) {
//     $(".task").sortable();
//     $(".task").sortable('refresh');
//   });
// });
</script>

<!--jQueryを読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--jQuery UIを読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">