  <p>
    <strong>スケジュール名:</strong>
    <%= schedule.name %>
  </p>

  <p>
    <strong>一日の予定</strong>
  </p>

  <% tasks.each do |i| %>
  <ul>
    <td><%= i.task_time.strftime("%H:%M") %></td>
    <td><%= i.to_do %></td>
    <td><%= i.memo %></td>
    <td><%= i.goal_select %></td>
  </ul>
  <% end %>


