<p style="color: green"><%= notice %></p>

<%= render 'schedule', {schedule: @schedule, tasks: @tasks} %>

      <div class="p-5 flex flex-col sm:flex-row justify-center items-center">
        <%= link_to raw('<i class="fa-solid fa-pencil"></i> 編集する'), edit_schedule_path(@schedule), class: 'bg-lime-200 py-3 p-6 m-3 rounded-lg my-2 sm:my-0' %> |
        <%= link_to raw('<i class="fa-solid fa-list"></i> スケジュール一覧へ'), schedules_path, class: 'bg-amber-300 py-3 p-6 m-3 rounded-lg my-2 sm:my-0' %> |
        <%= link_to raw('<i class="fa-solid fa-house"></i> ホームへ'), home_path(current_user.id), class: 'bg-yellow-200 py-3 p-6 m-3 rounded-lg my-2 sm:my-0' %>
      </div>
      <%= button_to raw('<i class="fa-solid fa-trash"></i> スケジュールを削除する'), @schedule, method: :delete, class: 'bg-red-400 py-3 p-6 rounded-lg m-10', data: { turbo_confirm: 'スケジュールを削除してもよろしいですか？' } %>
    </div>
  </div>
</section<section>
  <div class="container px-5 py-24 mx-auto">
    <div class="w-full mx-auto text-center">
      <%= render 'schedule', {schedule: @schedule, tasks: @tasks} %>

      <div class="p-5 flex flex-col sm:flex-row justify-center items-center">
        <%= link_to raw('<i class="fa-solid fa-pencil"></i> 編集する'), edit_schedule_path(@schedule), class: 'bg-lime-200 py-3 p-6 m-3 rounded-lg my-2 sm:my-0' %> |
        <%= link_to raw('<i class="fa-solid fa-list"></i> スケジュール一覧へ'), schedules_path, class: 'bg-amber-300 py-3 p-6 m-3 rounded-lg my-2 sm:my-0' %> |
        <%= link_to raw('<i class="fa-solid fa-house"></i> ホームへ'), home_path(current_user.id), class: 'bg-yellow-200 py-3 p-6 m-3 rounded-lg my-2 sm:my-0' %>
      </div>
      <%= button_to raw('<i class="fa-solid fa-trash"></i> スケジュールを削除する'), @schedule, method: :delete, class: 'bg-red-400 py-3 p-6 rounded-lg m-10', data: { turbo_confirm: 'スケジュールを削除してもよろしいですか？' } %>
    </div>
  </div>
</section