<header class="navbar bg-base-100">
  <div class="flex-1">
    <% if logged_in? %>
      <%= link_to home_index_path do %>
        <%= image_tag 'yoriyoi_logo.png', size: '142x40', class: 'ml-3' %>
      <% end %>
    <% else %>
      <%= link_to root_path do %>
        <%= image_tag 'yoriyoi_logo.png', size: '142x40', class: 'ml-3' %>
      <% end %>
    <% end %>
  </div>
  <% if logged_in? %>
    <details class="dropdown dropdown-end">
      <summary class="m-1 btn"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg></summary>
      <ul tabindex="0" class="bg-base-200 dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-100">
        <li class="p-3"><%= link_to raw('<i class="fa-solid fa-dove"></i> スケジュールを作成する'), new_schedule_path %></li>
        <li class="p-3"><%= link_to raw('<i class="fa-solid fa-list"></i><i class="fa-solid fa-pencil"></i> スケジュールの確認・編集'), schedules_path %></li>
        <li class="p-3"><%= link_to raw('<i class="fa-solid fa-house-user"></i> マイページ・各種設定'), profiles_path %></li>
        <li class="p-3"><%= link_to raw('<i class="fa-solid fa-right-from-bracket"></i> ログアウト'), logout_path, class: 'nav-link', data: { turbo_method: :delete ,turbo_confirm: 'ログアウトします' } %></li>
      </ul>
    </details>
  <% else %>
    <details class="dropdown dropdown-end">
      <summary class="m-1 btn"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg></summary>
      <ul tabindex="0" class="bg-base-200 dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li class="p-3"><%= link_to raw('<i class="fa-solid fa-right-to-bracket"></i> ログイン'), login_path %></li>
        <li class="p-3"><%= link_to raw('<i class="fa-solid fa-user-plus"></i> ユーザー登録'), sign_up_path %></li>
        <li class="p-3"><%= link_to raw('<i class="fa-regular fa-circle-question"></i> お問い合わせ'), "#" %></li>
      </ul>
    </details>
  <% end %>
</header>
