<header class="flex justify-between items-center h-20 p-6 border-y-2">
  <% if logged_in? %>
    <h1 class="text-2xl">
      <%= link_to "BetterMe", "#" %>
    </h1>
  <% else %>
    <h1 class="text-2xl">
      <%= link_to "BetterMe", root_path %>
    </h1>
  <% end %>
  <% if logged_in? %>
    <nav class="z-10">
      <button id="button" type="button" class="fixed z-10 top-6 right-4">
        <i id="bars" class="fa-solid fa-bars fa-2x "></i>
        <i id="xmark" class="fa-solid fa-xmark fa-2x hidden"></i>
      </button>
        <ul id="menu" class="z-0 fixed top-0 left-0 w-full text-center bg-purple-200 translate-x-full transition ease-linear">
          <li class="p-3"><%= link_to 'スケジュールを作る', new_schedule_path %></li>
          <li class="p-3"><%= link_to 'スケジュールの確認・編集', "#" %></li>
          <li class="p-3"><%= link_to 'マイページ', "#" %></li>
          <li class="p-3"><%= link_to 'ログアウト', logout_path, class: 'nav-link', data: { turbo_method: :delete ,turbo_confirm: 'ログアウトします' } %></li>
        </ul>
    </nav>
  <% else %>
    <nav>
      <div>
        <a><%= link_to 'ユーザー登録', sign_up_path, class: 'p-3' %></a>
        <a><%= link_to 'ログイン', login_path, class: 'p-3' %></a>
        <a><%= link_to 'お問い合わせ', "#", class: 'p-3' %></a>
      </div>
    </nav>
  <% end %>
  </header>
  <main>

    <script>
      button.addEventListener('click', event => {
        bars.classList.toggle('hidden');
        xmark.classList.toggle('hidden');
        menu.classList.toggle('translate-x-full');
      })
    </script>
  </main>
</header>

