<div class="flex flex-wrap w-full bg-yellow-50 py-10 px-10 relative my-5" style="border: dotted 2px #ff007f; padding: 1rem;" >
  <div class="w-full my-5">達成状況</div>

<div class="grid grid-cols-3 gap-10">
<% if step.action_1.present?%>
  <div>
    <p><%= step.action_1 %></p>
    <% calculated_value1 = (3.0/step.times_set_1 * 100).round %>
    <div class="radial-progress bg-red-100 text-primary-content border-4 border-primary" style="--value:<%= calculated_value1 %>; --size:12rem; --thickness: 2rem;" role="progressbar"><%= calculated_value1 %>%</div> 
  </div>
<% end %>

<% if step.action_2.present?%>
  <div>
    <p><%= step.action_2 %></p>
    <% calculated_value2 = (3.0/step.times_set_2 * 100).round %>
    <div class="radial-progress bg-red-100 text-primary-content border-4 border-primary" style="--value:<%= calculated_value2 %>; --size:12rem; --thickness: 2rem;" role="progressbar"><%= calculated_value2 %>%</div> 
  </div>
<% end %>

<% if step.action_3.present?%>
  <div>
    <p><%= step.action_3 %></p>
    <% calculated_value3 = (3.0/step.times_set_3 * 100).round %>
    <div class="radial-progress bg-red-100 text-primary-content border-4 border-primary" style="--value:<%= calculated_value3 %>; --size:12rem; --thickness: 2rem;" role="progressbar"><%= calculated_value3 %>%</div> 
  </div>
<% end %>
</div>
</div>

<div class="flex">
  <input type="checkbox" id="monday" name="day" value="monday" class="form-checkbox h-5 w-5 text-pink-500 absolute opacity-0">
  <label for="monday" class="ml-2">
    <span class="md:hidden px-6 py-2 rounded-full border-2 border-slate-300 select-none">月</span>
    <span class="hidden md:inline px-6 py-2 rounded-full border-2 border-slate-300 select-none">月曜日</span>
  </label>
  <input type="checkbox" id="tuesday" name="day" value="tuesday" class="form-checkbox h-5 w-5 text-pink-500 absolute opacity-0">
  <label for="tuesday" class="ml-2">
    <span class="md:hidden px-6 py-2 rounded-full border-2 border-slate-300 select-none">火</span>
    <span class="hidden md:inline px-6 py-2 rounded-full border-2 border-slate-300 select-none">火曜日</span>
  </label>
  <input type="checkbox" id="wednesday" name="day" value="wednesday" class="form-checkbox h-5 w-5 text-pink-500 absolute opacity-0">
  <label for="wednesday" class="ml-2">
    <span class="md:hidden px-6 py-2 rounded-full border-2 border-slate-300 select-none">水</span>
    <span class="hidden md:inline px-6 py-2 rounded-full border-2 border-slate-300 select-none">水曜日</span>
  </label>
  <input type="checkbox" id="thursday" name="day" value="thursday" class="form-checkbox h-5 w-5 text-pink-500 absolute opacity-0">
  <label for="thursday" class="ml-2">
    <span class="md:hidden px-6 py-2 rounded-full border-2 border-slate-300 select-none">木</span>
    <span class="hidden md:inline px-6 py-2 rounded-full border-2 border-slate-300 select-none">木曜日</span>
  </label>
  <input type="checkbox" id="friday" name="day" value="friday" class="form-checkbox h-5 w-5 text-pink-500 absolute opacity-0">
  <label for="friday" class="ml-2">
    <span class="md:hidden px-6 py-2 rounded-full border-2 border-slate-300 select-none">金</span>
    <span class="hidden md:inline px-6 py-2 rounded-full border-2 border-slate-300 select-none">金曜日</span>
  </label>
  <input type="checkbox" id="saturday" name="day" value="saturday" class="form-checkbox h-5 w-5 text-pink-500 absolute opacity-0">
  <label for="saturday" class="ml-2">
    <span class="md:hidden px-6 py-2 rounded-full border-2 border-slate-300 select-none">土</span>
    <span class="hidden md:inline px-6 py-2 rounded-full border-2 border-slate-300 select-none">土曜日</span>
  </label>
  <input type="checkbox" id="sunday" name="day" value="sunday" class="form-checkbox h-5 w-5 text-pink-500 absolute opacity-0">
  <label for="sunday" class="ml-2">
    <span class="md:hidden px-6 py-2 rounded-full border-2 border-slate-300 select-none">日</span>
    <span class="hidden md:inline px-6 py-2 rounded-full border-2 border-slate-300 select-none">日曜日</span>
  </label>
</div>

<style>
  input[type="checkbox"]:checked + label span {
    color: #FFF;
    background-color: #FBB;
  }
</style>
