<div class="flex flex-wrap w-full bg-red-50 py-10 px-10 relative my-5" style="border: dotted 2px #ff007f; padding: 1rem;" >
  <div class="text-center w-full">
    <div class="avatar">
      <div class="w-24 rounded-full ring ring-info ring-offset-base-100 ring-offset-2">
        <%= image_tag "cat_notification.png" %>
      </div>
    </div>
    <p class="leading-relaxed">
      <% if @current_task.nil? %>
        <p>いまはタスクが設定されていないにゃ〜。</p>
      <% else %>
        <p><%= @current_task.task_time.strftime("%H:%M") %>にゃ！<%= @response %></p>
      <% end %>

      <% if @next_task.nil? %>
        <p>つぎの曜日のスケジュールはまだつくられていないにゃ。</p>
      <% else %>
        <p>つぎは<%= @next_task.task_time.strftime("%H:%M") %>に<%= @next_task.to_do %>の予定にゃ〜！</p>
      <% end %>
    </p>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    setInterval(updateNextTask, 60000); // 1分ごとに次のタスクを更新
  });

  function updateNextTask() {
    fetch('/homes/index.js').then(response => response.text()).then(html => {
      document.getElementById('next-task').innerHTML = html;
    });
  }
</script>