<%= turbo_stream.replace "achievement_#{params[:achievement_id]}" do %>
  <div id="achievement_<%= @achievement.id %>">
    <% if @achievement.check? %>
      <%= render "achievements/on_button", achievement: @achievement, step: @step %>
    <% else %>
      <%= render "achievements/off_button", achievement: @achievement, step: @step %>
    <% end %>
  </div>
<% end %>

<% @steps.each_with_index do |step, index| %>
  <%= turbo_stream.update "achievement-#{step.id}" do %>
    <div class="mx-auto">
      <% if step.action.present? %>
        <div id="achievement-<%= step.id %>" class="achievement">
          <% times_set = step.times_set %>
          <% percentage = calculate_achievement_percentage(step, times_set) %>
          <div class="flex flex-col items-center">
            <% if percentage >= 100 %>
              <button class="btn mt-5" onclick="document.getElementById('my_modal_<%= index %>').showModal()">頑張りを共有する</button>
              <dialog id="my_modal_<%= index %>" class="modal modal-bottom sm:modal-middle">
                <div class="modal-box">
                  <h3 class="font-bold text-lg">頑張ったにゃ〜！</h3>
                  <p class="py-4">今週の努力目標を達成したにゃ！すごい！！この調子で頑張っていこうね</p>
                  <p class="py-4">この頑張りをみんなに伝えよう！</p>
                  <%= link_to "Xでシェアする", @twitter_share_url, class: "backdrop-blur-sm underline hover:bg-pink-600 font-bold py-2 px-4 rounded text-center", target: "_blank" %>
                  <div class="modal-action">
                    <form method="dialog">
                      <button class="btn">とじる</button>
                    </form>
                  </div>
                </div>
              </dialog>
            <% else %>
              <div class="mt-3" style="height: 3.5rem;"></div>
            <% end %>
          </div>
          <div class="flex flex-col items-center">
            <div class="m-5 radial-progress bg-red-100 text-primary-content border-4 border-primary" style="--value:<%= percentage %>; --size:12rem; --thickness: 2rem;" role="progressbar"><%= percentage %>%</div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
