<%= turbo_stream.replace "achievement_button" do %>
  <% @steps.each do |step| %>
    <% action = step.action %>
    <% times_set = step.times_set %>
    <% unless action.blank? && times_set.blank? %>
      <li><i class="fa-solid fa-fire" style="color: #f26845;"></i>  <%= action %>を週<%= times_set %>回行う</li>
      <div class='flex flex-wrap'>
        <% step.achievements.where(daily:(Time.current.beginning_of_day - 6.days)..Time.current.end_of_day).each do |day| %>
          <% if day.check? %>
            <%= render "achievements/on_button", day: day, step: step %>
          <% else %>
            <%= render "achievements/off_button", day: day, step: step %>
          <% end %>
        <% end %>
      </div>
      <% all_blank = false %>
    <% end %>
  <% end %>
<% end %>