<section>
  <div class="container mx-auto">
    <div class="text-center">
      <div class="w-full mx-auto m-10 md:w-2/3" style=" background: #ffe6e8; padding: 20px; border: 2px dashed #ffb6c1; box-shadow: 0 0 0 5px #ffe6e8; -moz-box-shadow: 0 0 0 5px #ffe6e8; -webkit-box-shadow: 0 0 0 5px #ffe6e8; font-size: 100%;">
        <div id="textbox">
          <div class="text-sm md:text-lg lg:text-xl">
            <p>教えてくれてありがとにゃ！</p>
            <p>ふむふむ...キミの理想のジブンは
              <div class="list-disc list-inside flex justify-center">
                <div class="p-3 font-bold whitespace-pre-wrap lg:whitespace-normal">"<%= @goal.ideal_self %>"
                          にゃんだね〜〜！</div>
              </div>
            </p>
            <p class="whitespace-pre-wrap lg:whitespace-normal">理想のためにはにゃに（何）を
            頑張ればいいかにゃ〜？</p>
          </div>
          <div class="text-sm md:text-normal lg:text-xl">
            <div class="pt-5 pb-2 whitespace-pre-wrap lg:whitespace-normal"> * たとえば、" 腹筋20回 "を週に" 3 "回がんばる！
            のように書くのにゃ！</div>
            <div class="whitespace-pre-wrap lg:whitespace-normal">
  みっつすべて書かなくてもいいにゃ
  まずはひとつだけでもがんばろ〜！</div>
          </div>
        </div>
        <div class="justify-center pt-10">
          <%= form_with model: @step, url: step_path, local: true do |f| %>
            <%= render 'shared/error_messages', object: @step, class:"mt-5" %>
            <% 3.times do |i| %>
              <div class="flex flex-col md:flex-row items-center justify-center p-5">
                <div><%= f.text_field "steps[#{i}][action]", class:'rounded w-3/5 mt-2 md:w-3/5 text-center' %> を週に</div>
                <div class="whitespace-nowrap"><%= f.number_field "steps[#{i}][times_set]", min: 1, max: 7,class:'rounded w-16 text-center mt-2' %> 回がんばる!</div>
              </div>
            <% end %>
            <%= button_tag(type:'submit', class:"bg-blue-400 py-2 px-5 w-auto rounded-lg text-white mt-20 mb-10") do %>
              <i class="fa-solid fa-check"></i> 登録
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
