<section>
  <div class="container mx-auto">
    <div class="text-center">
      <div class="box51 w-full mx-auto">
        <div class="chat chat-start flex items-end justify-start">
          <div>
            <%= image_tag "cat_information.png", class: 'w-24 rounded-full ring' %>
          </div>
          <div id="textbox" class="chat-bubble bg-gray-50 w-full mx-auto m-5">
            <p>教えてくれてうれしいにゃ！</p>
            <p>ふむふむ...キミの理想のジブンは"<%= @goal.ideal_self %>"にゃんだね〜〜！</p>          </p>
            <p>理想のためにはにゃに（何）を頑張ればいいかにゃ〜？</p>
            <p>* たとえば、" 腹筋20回 "を週に" 3 "回がんばる！のように書くのにゃ！</p>
            <p>みっつすべて書かなくてもいいにゃ</p>
            <p>まずはひとつだけでもがんばろ〜！</p>
          </div>
        </div>
        <div class="justify-center pt-10">
          <%= form_with model: @step, url: steps_path, local: true do |f| %>
            <%= render 'shared/error_messages', object: @step, class:"mt-5" %>
            <% 3.times do |i| %>
              <div class="flex flex-col md:flex-row items-center justify-center p-5">
                <div><%= f.text_field "steps[#{i}][action]", class:'input input-bordered max-w-xs' %> を週に</div>
                <div class="whitespace-nowrap"><%= f.number_field "steps[#{i}][times_set]", min: 1, max: 7,class:'input input-bordered w-20 text-center' %> 回がんばる!</div>
              </div>
            <% end %>
            <%= button_tag(type:'submit', class:"btn btn-accent mt-10") do %>
              <i class="fa-solid fa-check"></i> 登録
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
