<section>
  <div class="container mx-auto">
    <div class="text-center">
      <div class="w-2/3 mx-auto m-10 text-3xl" style="background: #ffe6e8; padding: 20px; border: 2px dashed #ffb6c1; box-shadow: 0 0 0 5px #ffe6e8; -moz-box-shadow: 0 0 0 5px #ffe6e8; -webkit-box-shadow: 0 0 0 5px #ffe6e8; font-size: 100%;">
        <div class="text-base lg:text-xl">
          あなたがなりたい理想の自分を教えてくださいにゃ！
        </div>
        <div class="justify-center">
        <%= form_with model: @goal, local: true do |f| %>
          <%= f.text_field :ideal_self, placeholder: "例 : 今の体重から5キロ痩せたい...など", class: 'rounded w-3/4 text-center mt-10' %>
          <div class="p-5 flex flex-col sm:flex-row justify-center items-center">
            <%= button_tag(type:'submit', name:'home', class:"whitespace-nowrap bg-blue-400 py-1 px-5 w-auto rounded-lg text-white m-2") do %>
              <i class="fa-solid fa-check"></i> 登録
            <% end %>|
            <%= button_tag(type:'submit', name:'step', class:"whitespace-nowrap bg-orange-500 py-1 px-5 w-auto rounded-lg text-white m-2") do %>
              <i class="fa-solid fa-fire"></i> 頑張ることリストの作成
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="p-5 flex flex-col sm:flex-row justify-center items-center">
      <%= link_to raw('<i class="fa-solid fa-house"></i> ホームへ'), home_path(current_user.id), class: 'whitespace-nowrap bg-yellow-200 py-3 p-6 m-3 rounded-lg my-2' %>
    </div>
  </div>
</section>