<section>
  <div class="container mx-auto">
    <div class="text-center">
      <div class="box51 w-full mx-auto m-10">
        <div class="chat chat-start flex items-end justify-start">
          <div>
            <%= image_tag "cat_information.png", class: 'w-24 rounded-full ring' %>
          </div>
          <div id="textbox" class="chat-bubble bg-gray-50 w-full mx-auto m-5">
            <div>はじめまして！ 登録してくれてありがとにゃ〜！</div>
            <div>これから一緒にがんばるにゃ</div>
            <div>まずは、キミがなりたい理想のジブンを教えてほしいにゃ！</div>
          </div>
        </div>
        <div class="justify-center">
        <%= form_with model: @goal, url: goal_path, local: true do |f| %>
          <%= f.text_field :ideal_self, placeholder: "例 : 今の体重から5キロ痩せたい...など", class: 'input input-bordered w-full max-w-lg text-center' %>
          <div class="p-5 flex flex-col sm:flex-row justify-center items-center">
            <%= button_tag(type:'submit', class:"btn btn-accent m-2") do %>
              <i class="fa-solid fa-check"></i> 登録
            <% end %>
          </div>
        <% end %>
        <%= button_to raw('<i class="fa-solid fa-angles-right"></i> あとで設定する'), skip_goal_path, class:"btn btn-primary m-2" %>
      </div>
    </div>
  </div>
</section>