<section>
  <div class="container mx-auto">
    <div class="text-center">
      <div class="w-2/3 mx-auto m-10 text-3xl" style=" background: #ffe6e8; padding: 20px; border: 2px dashed #ffb6c1; box-shadow: 0 0 0 5px #ffe6e8; -moz-box-shadow: 0 0 0 5px #ffe6e8; -webkit-box-shadow: 0 0 0 5px #ffe6e8; font-size: 100%;">
        <h1 class="text-xl">
          まず、あなたがなりたい理想の自分を教えてくださいにゃ！
        </h1>
        <div class="justify-center">
        <%= form_with model: @goal, local: true do |f| %>
          <%= f.text_field :ideal_self, class: 'rounded block w-full justify-center text-center mt-10' %>
          <div class="p-5 flex flex-col sm:flex-row justify-center items-center">
            <%= button_tag(type:'submit', class:"bg-blue-400 py-1 px-5 w-auto rounded-lg text-white m-2") do %>
              <i class="fa-solid fa-check"></i> 登録
            <% end %>|
            <%= button_to raw('<i class="fa-solid fa-angles-right"></i> あとで設定する'), { action: "skip" }, method: :post, class:"bg-blue-400 py-1 px-5 w-auto rounded-lg text-white m-2" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= link_to "あとで設定する", skip_goals_path, data: { "turbo-method": :post }%>
