<div class="md:w-1/2 flex flex-col bg-lime-50 relative">

    <div class="flex flex-wrap">
      <div class="text-right relative z-0 m-10">
        <%= link_to '理想の自分の編集', edit_goal_path(current_user.id)%>
      </div>
      <div class="text-left relative z-0 m-10">
        <h2 class="text-xl text-gray-900 font-medium title-font mb-2">理想のあなた</h2>
          <ul class="list-disc list-inside">
            <li class="p-3"><%= goal.ideal_self %></li>
          </ul>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="text-left relative z-0 m-10">
        <%= link_to 'ステップの編集', edit_step_path(goal.id)%>
      </div>
      <div class="text-left relative z-0 m-10">
        <h2 class="text-xl text-gray-900 font-medium title-font mb-2">理想に向けてすること</h2>
        <ul class="list-disc list-inside">
          <% (1..3).each do |i| %>
            <% action = step.send("action_#{i}") %>
            <% times_set = step.send("times_set_#{i}") %>
            <% if action.present? && times_set.present? %>
              <li class="p-3"><%= action %>を週<%= times_set %>回行う</li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>