<section class="md:mr-2 w-full md:w-1/2 flex flex-col relative overflow-auto" style="height: 40rem; background: #eaf5f9; border: dotted 2px #27acd9; padding: 1rem;">
  <div class="px-12 w-auto p-3 bg-sky-500 rounded-tr-full rounded-tl-full flex justify-between items-center">
    <div class="flex justify-center text-base sm:text-xl text-white flex-grow">
      <p>理想のあなた</p>
    </div>
    <%= link_to raw('<i class="fa-solid fa-pencil"></i> 編集'), edit_goal_path, class: 'bg-yellow-200 py-2 px-3 rounded-lg whitespace-nowrap' %>
  </div>

  <div class="bg-amber-50 mb-5 flex items-center", style="box-shadow: inset 0 0 10px 3px #eaf5f9;">
    <div class="m-5 text-base sm:text-lg">
      <% if goal.ideal_self.blank? %>
        <p>目標が設定してほしいにゃ。</p>
      <% else %>
        <ul class="list-inside my-3">
          <li><i class="fa-brands fa-pagelines" style="color: #319674;"></i> <%= goal.ideal_self %></li>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="px-12 w-auto p-3 bg-sky-500 rounded-tr-full rounded-tl-full flex justify-between items-center">
    <div class="flex justify-center text-base sm:text-xl text-white flex-grow whitespace-pre-wrap sm:whitespace-normal md:whitespace-pre-wrap lg:whitespace-normal">
                <p>理想を実現する
ためには</p>
    </div>
    <%= link_to raw('<i class="fa-solid fa-pencil"></i> 編集'), edit_step_path, class: 'bg-yellow-200 py-2 px-3 rounded-lg whitespace-nowrap' %>
  </div>

  <article class="h-full bg-amber-50 flex items-center", style="box-shadow: inset 0 0 10px 3px #eaf5f9;">
    <div class="m-5 text-base sm:text-lg">
      <ul class="list-inside">
        <% all_blank = true %>
        <% (1..3).each do |i| %>
          <% action = step.send("action_#{i}") %>
          <% times_set = step.send("times_set_#{i}") %>
          <% unless action.blank? && times_set.blank? %>
            <li><i class="fa-solid fa-fire" style="color: #f26845;"></i>  <%= action %>を週<%= times_set %>回行う</li>

            <%= render "achievements/form" %>

            <% all_blank = false %>
          <% end %>
        <% end %>
        <% if all_blank %>
          <p>頑張ることが設定されていないにゃ。</p>
        <% end %>
      </ul>
    </div>
  </article>
</section>