<div class="nested-fields flex justify-center items-center p-1">
  <%= f.fields_for :task do |task| %>
    <div class="form-group">
      <%= task.check_box :goal_select, class: 'rounded mr-10 p-6' %>
      <%= task.time_select :task_time, { minute_step: 15, prompt: '--' }, class:'rounded' %>
      <%= task.text_field :task, placeholder: "タスク", class: 'rounded' %>
      <%= task.text_field :memo, placeholder: "メモ", class: 'rounded' %>
    </div>
  <% end %>
</div>




