<main class="w-full flex justify-center">
  <%= form_with model: @schedule do |f| %>
    <%= render 'shared/error_messages', object: @schedule %>
    <div class="form-container rounded">
      <div class="form-group p-8">

        <%= f.text_field :name, placeholder: "スケジュール名", class: 'rounded' %>

        <%= f.fields_for :schedule_tasks do |schedule_task| %>
          <%= render 'schedule_task_fields', f: schedule_task %>
        <% end %>

      </div>
    </div>
    <div class="flex justify-center p-8">
    <%= link_to_add_association 'スケジュールを追加', f, :schedule_tasks, class:"btn btn-accent" %>
    <div class="flex justify-center p-8">
      <button class="btn btn-accent" type="submit">スケジュールを保存する</button>
    </div>
    </div>
  <% end %>
</main>