<main class="container mx-auto flex justify-center">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <h2 class="mt-10 text-center text-2xl font-sans leading-9 tracking-tight text-gray-900">ログイン</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <%= form_with url: login_path, model: @user, local: true, class: "space-y-6" do |f| %>

        <div>
          <%= f.label :email, User.human_attribute_name(:email), class: "leading-7 text-sm text-gray-600" %>
          <%= f.email_field :email, required: true, class: "input input-bordered input-accent w-full max-w-xs" %>
        </div>

        <div>
          <%= f.label :password, User.human_attribute_name(:password), class: "leading-7 text-sm text-gray-600" %>
          <%= f.password_field :password, required: true, class: "input input-bordered input-accent w-full max-w-xs" %>
        </div>

        <div class="flex justify-center p-7">
          <%= f.submit "ログイン", class: "btn btn-accent w-full" %>
        </div>
        <div class="flex justify-center btn btn-outline btn-success">
          <%= link_to 'LINEでログインする', auth_at_provider_path(provider: :line) %>
        </div>

        <div class="flex justify-center link link-info">
          <%= link_to "新しくアカウントを作成する", sign_up_path %>
        </div>
      <% end %>
    </div>
  </div>
</main>



