<!DOCTYPE html>
<html>
  <head>
    <title>Yoriyoi</title>
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "jquery" %>
  </head>

  <body class="flex flex-col min-h-screen">
    <%= render 'shared/header' %>
    <%= render 'shared/flash_massages' %>
    <div class="flex-grow">
      <div id="loading" style="display: none;">
        <%= image_tag "waiting.gif", size: '300x300' %>
      </div>

      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
